html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  color: white;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  display: flex;
  font-size: 2rem;
  align-items: center;
  margin: 0;
  padding: .4rem 0;
  justify-content: center;
  text-align: center;
}

img {
  padding: .4rem 0;
  margin: 0;
  width: 40px;
}

.right {
  float: right;
  width: 40px;
}

.left {
  float: left;
  width: 40px;
}

a {
  font-size: 1.125rem;
  color: #fff;
  display: block;
  width: 100%;
  text-align: center;
  border: 1px solid #a63f38;
  background-color: #d05c2e;
  padding: .4rem 0;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  width: 33.33%;
}

a:hover {
  background-color: #a63f38;
}

header {
  background-color: #d05c2e;
}

body {
  margin: 0;
}
